
<nav class="flex justify-between items-center px-5 bg-orange-800">
  <img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?t=st=1688347033~exp=1688347633~hmac=ba5e2f603fd2b6ef8be69e5e9fafda0958106d85f3c1720ffd234558705fa82d" alt="" class="w-24 p-3">


    <ul class="flex gap-4 mr-7 text-white">
      <li class=""><a routerLink="/home">Home</a></li>
      <li><a routerLink="/active-post">Active posts</a></li>
      <li><a routerLink="/inactive-post">Inactive posts</a></li>

    </ul>

</nav>
